#intro {
    color: var(--red);
    text-align: center;
    font-size: 28px;
    margin: 70px 0;
}


#container {
    display: flex;
    width: 80%;
    align-content: center;
    justify-content: space-between;
    padding: 3px;
    float: left;
    margin-top: 5vh;
    margin-left: 8%;
    margin-right: 8%;
}

.box {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--red);
    border: black solid 1px;
    min-width: 30vw;
    background-color: var(--grey); 
    border-radius: 10px;
    border: var(--red) solid 4px;
    font-size: 20px;
}



/* .banner header {
    align-self: center;
} */