:root {
    --red: #890606;
    --grey: #d2d2d2;
    --green: #4c8f00;
    --black: #030505;
    background-color: #030505;
  }

body {
      /*background-color: var(--black)*/
      font-family: 'Julee', cursive;
}

/*Reg page CSS*/

#regHead {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0 auto;
    color: var(--red);
}

.social-media {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    /*border: 1px solid #ccc;*/
    padding: 10px;
    margin: 0 auto;
    border-radius: 10px;
  }
  
  .social-media a {
    display: inline-block;
    margin: 0 10px;
  }
  
  .social-media img {
    width: 40px;
    height: 40px;
  }  

form {
    margin: 0 auto;
    width: 50%;
    font-size: 20px;
    background-color: var(--grey); /* light blue */
    color: var(--red);
    padding: 20px;
    border: var(--red) solid 4px;
    border-radius: 10px;

  }
  
  label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--red); /* dark gray */
  }
  
  input[type="text"],
  input[type="email"] {
    display: block;
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color: #fff; /* white */
    color: #757575; /* light gray */
  }
  
  input[type="submit"] {
    background-color: var(--red);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-style: italic;
  }
  
  input[type="submit"]:hover {
    background-color: var(--green);
  }

  form ul li:last-child {
    list-style: none;
  }
  
/*Banner CSS*/

  .banner {
    width: 90%;
    min-height: 12vh;
    max-height: 12vh;
    background-color: var(--grey);
    text-align: center;
    font-size: 1.8em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    border: var(--red) solid 4px;
    border-radius: 10px;
}

#titleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 70vw;
}

#headTitle {
  vertical-align: center;
  float: right;
  text-align: center;
}


.banner #logo {
  width: 120px;
  margin-top: 1.1vh;
  margin-left: 1vw;
  margin-right: auto;
  float: left;
  padding:2vh, 0, 0, 0;
}

@media screen and (max-width: 768px) {
  .banner {
    font-size: 1em;
  }
  #titleContainer {
    min-width: 60vw;
    min-height: 12vh;
    margin-left: 130px;
  }
}

@media screen and (max-width: 512px) {
  .banner {
    font-size: 0.8em;
  }
  #titleContainer {
    min-width: 50vw;
    min-height: 12vh;
    margin-left: 120px;
  }
  .banner #logo {
    width: 100px;
    margin-top: 2vh;
  }
}

@media screen and (min-width: 1600px) {
  .banner {
    font-size: 2em;
  }
  #titleContainer {
    min-width: 80vw;
    min-height: 12vh;
    margin-left: auto;
  }
}

@media screen and (max-height: 1024px) {
  .banner {
    min-height: 150px;
    max-height: 150px;
  }
  #titleContainer {
    min-height: 120px;
    max-height: 120px;
  }
}